
.row{
  transition: 0.5s;
}
.row:not(:first-child):hover{
  background-color: lightcyan;
}

.table{
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%,-50%);
}
.icon{
  transition: 0.2s;
}
.icon:hover{
  transform:scale(1.2);
}
.dialog{
  width: 100% !important;
  max-width: 1000px !important;
}


